<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Skill</title>
</head>
<body>
  <h1>New Skill</h1>
  <form action="/todos" method="POST" autocomplete="off">
    <input type="text" name="text" placeholder="Type Language/Framework">
    <input type="number" name="number">
    <button type="submit">Save To-Do</button>
  </form>
</body>
</html>